.header-style{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-style img{
    margin-left: 20px;
}
.header-menu a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 18px;
    transition: 0.5s;
}
.header-menu a:hover{
    color: orange;
}